<ion-view>
    <ion-nav-title>
        Your City
    </ion-nav-title>
    <ion-content>
        <ion-list>
            <div class="item text-center" ng-hide="cities.length">
                <ion-spinner></ion-spinner>
            </div>
            <div ng-repeat="city in cities" class="item item-icon-right" ng-click="goToCity(city)">
                <span>{{city.name}}</span>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </div>
        </ion-list>
    </ion-content>
</ion-view>
