<ion-view view-title="{{cinemaLocation}}">
    <ion-content>
        <div class="row" ng-repeat="row in movies">
            <div class="col col-50" ng-repeat="movie in row">
                <div style="width:100%; height:100%; background-color:white;" ng-click="selectMovie(movie)">
                    <!-- <a href="#/movie/{{movie.id}}"> -->
                        <img ng-src="{{movie.poster}}" style="width:100%;">
                        <div>{{movie.tomato_meter}}</div>
                   <!--  </a> -->
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
