<ion-view>
    <!--<div class="background-image" style="background-image: url({{ ENV.posterEndpoint }}{{ movie.poster }});">-->
    <!--</div>-->
    <ion-nav-title>
        <div class="title">
            {{movie.title}}
        </div>
    </ion-nav-title>
    <ion-content>
        <ion-list>
            <ion-item class="item-darker" style="padding:0;position: relative;padding-bottom: 56.25%; /* 16:9 */;height:0;">
                <img ng-src="{{ ENV.posterEndpoint }}{{ movie.wide_poster }}" style="width:100%;" class="poster" onload="this.style.opacity='1';"/>
                <div style="background-color: #1C202A;
                            z-index: 100;
                            position: absolute;
                            bottom: 0;
                            width: 100%;
                            height: 45px;
                            opacity: 0.5;">
                </div>
                <div class "movieItem" style="position: absolute;
                            bottom: 15px;
                            z-index: 101;
                            font-size: 14px;
                            text-align: center;
                            width:100%;
                            font-weight: bold;">{{movie.title}}
                </div>
            </ion-item>
            <ion-item ng-if="movie.tomato_meter >= 0" style="text-align: center; border-top: none;">
                <div class="row" style="padding:0">
                    <div class="col rating-left" style="padding:0">
                        <div style="color:{{textColour}};font-weight:bold;">{{owlRating}}</div>
                        <div style="text-transform: uppercase;font-size:10px;"> Says The Owl</div>
                    </div>
                    <div class="col rating-right" style="padding:0">
                        <div style="font-weight: bold;">
                            <img src="{{rottenLogo}}" style="width:16px;position:relative; top:3px;"> {{movie.tomato_meter}}%
                        </div>
                        <div style="text-transform: uppercase;font-size:10px;">
                            Rotten Tomatoes
                        </div>
                    </div>
                </div>
            </ion-item>
            <!--<ion-item class="item-icon-right item-darker" ng-click="openModal()">-->
            <!--Ratings, Trailer, Cast, Synopsis and more-->
            <!--<i class="icon ion-chevron-right icon-accessory"></i>-->
            <!--</ion-item>-->
            <div class="item item-dark item-divider">
                Today's Sessions
            </div>
            <ion-item ng-repeat="session in showingsData" ng-click="openSeatView(session.id)" class="item-icon-right item-darker">
                <div class="row" style="padding: 0;">
                    <div class="col col-25" style="padding:0;text-align:left; font-weight:bold;">
                        {{session.start_time*1000| date:'h:mma' }}
                    </div>
                    <div class="col col-35" ng-show="session.screen_type === 'standard'" style="padding:0;">
                        <span ng-show="session.showing_type ==='3D'" style="color:red; font-weight:bold;">
                            3D
                        </span> {{session.cinemaSize}}
                    </div>
                    <div class="col col-35" ng-hide="session.screen_type === 'standard'" style="padding:0;">
                        <span ng-show="session.showing_type ==='3D'" style="color:red; font-weight:bold;">
                            3D
                        </span>
                        <span ng-show="session.screen_type ==='gold class'" style="color:rgb(255, 237, 54); font-weight:bold; padding:0;">
                            Gold Class
                        </span>
                        <span ng-show="session.screen_type ==='vmax'" style="color:rgb(68, 156, 255); font-weight:bold; padding:0;">
                            VMAX
                        </span>
                    </div>
                    <div class="col col-40" style="text-align:right; padding:0;" ng-show="session.fullness.length > 0">
                        {{session.fullness}}
                    </div>
                    <div class="col col-40" style="text-align:right; padding:0;" ng-hide="session.fullness.length > 0">
                        <ion-spinner class="showing" icon="bubbles"></ion-spinner>
                    </div>
                </div>
                <i class="icon ion-chevron-right icon-accessory" ng-hide="session.hasSeats"></i>
            </ion-item>
        </ion-list>
        <!--</div>-->
    </ion-content>
</ion-view>
