<ion-view view-title="News">
    <ion-content>
        <ion-list>
            <div class="item item-text-wrap">
                <h2>App News (6/1/16)</h2>
                <p style="color:white;">
                    You can now buy tickets directly from within the app at select cinemas.
                </p>
            </div>
            <div class="item item-text-wrap">
                <h2>App News (21/12/15)</h2>
                <p style="color:white;">
                    You can now find out all the news about the MoviesOwl app here.
                </p>
            </div>
        </ion-list>
    </ion-content>
</ion-view>