<ion-view view-title="News">
    <ion-content>
        <ion-list>
            <div class="item">
                <h2>Event Cinema Tickets (21/12/15)</h2>
                <p>
                    You can now purchase tickets for Event Cinemas from within the app (including Telstra Tickets).
                </p>
            </div>
            <div class="item">
                <h2>Event Cinema Tickets (21/12/15)</h2>
                <p>
                    You can now purchase tickets for Event Cinemas from within the app (including Telstra Tickets).
                </p>
            </div>
        </ion-list>
    </ion-content>
</ion-view>