<ion-view view-title="Chats">
    <ion-content>
        <ion-list>
            <div class="item">
                {{ autoupdate.state }}
            </div>
            <div class="item">
                Added a bunch of cool stuff!
            </div>
            <a class="item item-icon-right item-text-wrap" href="mailto:cmcnamara87+moviesowl@gmail.com?subject=MoviesOwl Ideas!">
                Got any <strong>ideas or suggestions</strong>? We'd love to hear them!
                <i class="icon ion-email icon-accessory"></i>
            </a>
        </ion-list>
    </ion-content>
</ion-view>