node_modules
www
.idea
.temp
.sass-cache
app/bower_components
coverage
platforms
plugins
*.swp
*.swo
*.log
*.DS_Store
apk

app/scripts/configuration.js

ionic/node_modules/
ionic/platforms/
ionic/plugins/
ionic/.idea/
ionic/www/lib/
.grunt
