<ion-modal-view>
    <ion-header-bar>
        <h1 class="title">Cinemas</h1>
        <button class="button button-outline button-dark" ng-click="closeModalOnly()">Done</button>
    </ion-header-bar>
    <ion-content>
        <label ng-repeat="cinema in cinemas" class="item item-radio item-icon-right" ng-click="closeModal(cinema)">
            <input type="radio" name="group">
            <div class="item-content">
                <span>{{cinema.location}}</span>
                <span ng-show="cinemaLocation === cinema.location">
                    <i class="icon ion-ios-heart icon-accessory" style="color:deeppink; font-size:30px; width:60px;"></i> 
                </span>
                <span ng-hide="cinemaLocation === cinema.location">
                <i class="icon ion-ios-heart-outline icon-accessory" style="font-size: 30px; width:60px;"></i>
                </span>
            </div>
        </label>
    </ion-content>
</ion-modal-view>
