<ion-view view-title="Cinemas">
    <!-- if you dont put ion content, the first ion item will be hidden under ion-navbar
 	-->
    <div>
        {{ uuid }}
    </div>


    <ion-content>
       <!--  <ion-refresher
                pulling-text="Pull to update app..."
                on-refresh="doRefresh()">
        </ion-refresher> -->
        <ion-list>
            <ion-item ng-repeat="cinema in cinemas" href="#/movies/{{cinema.id}}/?cinemaLocation={{cinema.location}}">
                {{cinema.location}}
            </ion-item>
        </ion-list>

        <button class="button button-full button-balanced" ng-click="reset()">Reset</button>
        <button class="button button-full button-balanced" ng-click="update()">Update</button>

    </ion-content>
</ion-view>
