<div class="group" ng-if="group.movies.length > 0">
    <div class="item item-divider {{ group.style }}-bg" ion-affix data-affix-within-parent-with-class="group"
         style="border: none; color:white; text-align:center;">
        {{ group.name }}
        <!--<div class="badge badge-light">2</div>-->
    </div>

    <div ng-repeat="row in group.movies" ng-if="mode == 'list'">
        <div class="item item-dark item-icon-right item-text-wrap" ng-repeat="movie in row" style="background-color:#222"
             ng-click="selectMovie(movie)">
            <h2 style="color:white">{{ movie.title }}
                <span style="font-size: 12px;color:#aaa">
                    <img src="images/fresh.png" style="width:10px;position:relative; top:0px;"
                         ng-hide="movie.tomato_meter < 60">
                    <img src="images/rotten.png" style="width:10px;position:relative; top:0px;"
                         ng-hide="movie.tomato_meter >= 60">
                    {{movie.tomato_meter}}%
                </span>
            </h2>
            <p>
                <span ng-repeat="showing in movie.showings.data"
                      class="small-session-time"
                      ng-class="{'--soon': isStartingSoon(showing.start_time)}">
                    {{ showing.start_time * 1000 | date:'shortTime'}}
                </span>
            </p>
            <i class="icon ion-chevron-right icon-accessory"></i>
        </div>
    </div>

    <div ng-repeat="row in group.movies" class="row" ng-if="mode == 'grid'">

        <div class="col col-50" ng-repeat="movie in row" style="position:relative;">
            <div style="width:100%; height:100%" ng-click="selectMovie(movie)">

                <!-- <a href="#/movie/{{movie.id}}"> -->
                <div style="position: relative">
                    <img ng-src="{{ ENV.posterEndpoint}}{{ movie.poster }}" style="width:100%;">

                    <div style="position: absolute;bottom:30px;width:100%;text-align:center">
                    <span am-time-ago="{{movie.showings.data[0].start_time}}"
                          am-preprocess="unix"
                          class="time-human"
                          ng-class="{'--soon': isStartingSoon(movie.showings.data[0].start_time)}">
                    </span>
                    </div>
                </div>



                <div style="color: white;text-align:center">
                    <p style="margin-bottom: 0; font-weight:bold;">
                        {{ movie.title }}
                    </p>
                    <p style="font-size: 12px;color:#aaa">
                        <img src="images/fresh.png" style="width:10px;position:relative; top:0px;"
                             ng-hide="movie.tomato_meter < 60">
                        <img src="images/rotten.png" style="width:10px;position:relative; top:0px;"
                                ng-hide="movie.tomato_meter >= 60">
                        {{movie.tomato_meter}}%
                    </p>
                </div>

            </div>
        </div>
    </div>
</div>