<ion-view view-title="{{movie.title}}">
    <ion-content>
        <div class="row">
            <div class="col">
                <img src="{{movie.poster}}" style="max-height:100%; max-width:100%;">
            </div>
            <div class="col">
                <div class="row">
                    {{movie.title}}
                </div>
                <div class="row">
                    Run Time: {{movie.run_time}}
                </div>
                <div class="row">
                    Director:
                    <br/> {{movie.director}}
                </div>
                <div class="row wrap">
                    Casts:
                    <br/> {{movie.cast}}
                </div>
            </div>
        </div>
        <ion-list>
            <ion-item class="wrap">
                <div>Rotten Tomatoes</div>
                <img src="images/{{rottenLogo}}" style="width:25px;">
                {{movie.tomato_meter}}%
            </ion-item>
            <ion-item class="wrap">
                Synopsis
                <br/>{{movie.synopsis}}
            </ion-item>
            <ion-item ng-repeat="session in showingsData" ng-click="openSeatView(session.id)" style="padding:5px;">
                <div class="row">
                    <div class="col col-25" style="text-align:left;">{{session.start_time*1000| date:'h:mma' }}</div>
                    <div class="col col-35" ng-show="session.screen_type === 'standard'">
                        <span ng-show="session.showing_type ==='3D'" style="color:red; font-weight:bold;">
                            3D
                        </span> {{session.cinemaSize}}
                    </div>
                    <div class="col col-35" ng-hide="session.screen_type === 'standard'">
                        <span ng-show="session.showing_type ==='3D'" style="color:red; font-weight:bold;">
                            3D
                        </span>
                        <span ng-show="session.screen_type ==='gold class'" style="color:goldenrod; font-weight:bold">
                            Gold Class
                        </span>
                        <span ng-show="session.screen_type ==='vmax'" style="color:blue; font-weight:bold;">
                            VMAX
                        </span>
                    </div>
                    <div class="col col-40" style="text-align:right;" ng-show="session.fullness.length > 0">
                        {{session.fullness}}
                    </div>
                    <div class="col col-40" style="text-align:right;" ng-hide="session.fullness.length > 0">
                        <div class="custom-spinner">
                            <div class="dot1"></div>
                            <div class="dot2"></div>
                        </div>
                    </div>
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
