<ion-view view-title="seats">
    <ion-content>
        <div style="text-align: center;">
            <div style="margin:20px 5%; padding:1%; background-color:black; color:white;">
                <strong class="blink_me">SCREEN</strong>
            </div>
            <div ng-repeat="row in seatingPlan track by $index" style="padding-left:1%">
                <div ng-repeat="seat in row track by $index" style="position:relative;float: left; width:{{seatWidth}}%; padding-bottom:{{seatWidth}}%;">
                    <div ng-show="seat === 'available'" style="position:absolute; background-color:blue; top:10%; bottom:0; right:10%; left:0;"></div>
                    <div ng-show="seat === 'taken'" style="position:absolute; line-height:100%; color:red; top:10% ;bottom:0 ;right:10% ;left:0; border: 1px solid;">
                        <img src="img/seat-taken.png" style="display:block; max-width: 100%;">
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
